
backend/node_modules/
frontend/node_modules/

backend/src/config/database.json

Img Teste/


backend/

Img Teste/

frontend/node_modules/

backend/uploads/

Img Teste/


backend/node_modules/

backend/src/config/database.json


mobile/my-release-key.keystore
